/* ---------- Content --------- */

.content-wrapper{
    min-height:100vh;
    /* min-width: 100vw; */
}

.content-wrapper.active{
    background-color: rgba(0,0,0,.5);
}

/* question box */
.content-wrapper .main li{
    background-color: white;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 10px;
    box-shadow: 2px 2px  5px rgba(0,0,0,.5);
    border-radius: 15px;
    transform: scale(1);
    transition: all .3;
    margin-bottom: 50px;
    cursor: pointer;
    /* display: none; */
}

.content-wrapper .main li:hover{
    transform: scale(1.1);
}

/* .content-wrapper .main li.active{
    display: flex;
} */


/* Answer box */
.content-wrapper .answer-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper .answer-box li{
    width: 600px;
    padding: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px  5px rgba(0,0,0,.5);
    font-size: 18px;
    position: relative;
    display: none;
    transform: scale(0) rotate(360deg);
    transition: all 0.75s;
}

.content-wrapper .answer-box li.active{
    display: flex;
    transform: scale(1) rotate(0deg);
    transition: all .5s;
}

.content-wrapper .answer-box li .info a{
    color: #ff6700;
}

.content-wrapper .answer-box li .close{
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 24px;
    cursor: pointer;
}