.content-wrapper{
    position: relative;
}

/* lefr side main info */
.content-wrapper .info{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.7);
    width: 53vw;
    margin: 0 auto;
    color: whitesmoke;
    padding: 25px 0;
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
    border-radius: 20px;
}

.content-wrapper .info .left{
    margin-right: 5vw;
}

.content-wrapper .info .left .top{
    border-bottom: 2px solid #dcdcdc;
    margin-bottom: 20px;
    font-size: 26px;
}

.content-wrapper .info .left .top p{
    margin-bottom: 10px;
}

.content-wrapper .info .left .top span{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

.content-wrapper .info .left .main-info li{
    margin-bottom: 15px;
}

.content-wrapper .info .left .main-info .title{
    font-size: 20px;
}

.content-wrapper .info .left .main-info .name{
    text-indent: 15px;
    display: inline-block;
    font-size: 16px;
}

.content-wrapper .info .left .main-info .name:hover{
    color: #bfc;
}

/* right side profile picture */
.content-wrapper .info .right .img{
    transform: scale(1);
    transition: all .3s;
    border-radius: 25%;
}

.content-wrapper .info .right .img img{
    border-radius: 50%;
}

.content-wrapper .info .right .img:hover{
    transform: scale(1.15);
}


/* 3D Text Cloud */
#textCloud{
    position: relative;
    width: 600px;
    height: 500px;
    margin: 20px auto 0;
}

#textCloud a{
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 6px;
}

/* tag color */
#textCloud .blue {
    color: blue;
}

#textCloud .red {
    color: red;
}

#textCloud .orange {
    color: #f90;
}

#textCloud .pink {
    color: #f6f;
}

#textCloud .black {
    color: #333;
}

#textCloud .purple {
    color: #90f;
}